@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}


/*---navigation--*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rex;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
    height: 6rem;
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.navbar-nav l1 {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar-link:hover {
    color: #1ebba3;
}


/*---landing page css--*/

.home-inner {
    background-image: url(img/accomplishment.jpg);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: .3rem .3rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}


/*============= COURSE SECTION =============*/

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: #1EBBA3;
    background-color: #1EBBA3;
    color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}


/*---Features Section--*/

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
    color: #1ebba3;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}


/*--resources section*/

.fixed {
    background-image: url(img/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}

blockquote .svg-inline--fa {
    color: #1ebba3;
    margin: 1rem;
}

.clients-hr {
    border-top: 0.05rem solid #1ebba3;
}

.clients img {
    max-width: 100%;
    border-radius: 50%;
}


/*-Contact Section-*/

footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2 rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #1ebba3!important;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
}

.bottom-logo {
    height: 10rem;
}


/*--media queries--*/

@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: 0.15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 1.5rem;
    }
    .clients img {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
    .btn-md {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/